@import './base.css';

#app {
  font-weight: normal;
  color: #485665;
}

h2{
  margin: 50px 0;
}

a,.nav-link{
  text-decoration: none;
  color: #485665;
  
}
.active{
    color: #3E83FF;
  }

@media (hover: hover) {
  a:hover, .nav-link:hover {
    color: #3e83ff;
  }
}
@media (max-width: 2000px){
  body { 
    overflow:scroll !important;
    padding-right: 0px !important 
  }
}
