@import './base.css';

#app {
  font-weight: normal;
  color: #485665;
}

a,.nav-link{
  text-decoration: none;
  color: #485665;
  
}
.active{
    color: #3E83FF;
  }

@media (hover: hover) {
  a:hover, .nav-link:hover {
    color: #3e83ff;
  }
}

